Dockerfile
Dockerfile.prod
.dockerignore
docker-compose.yml
docker-compose.dev.yml
env/
__pycache__/
*.env
*.env.*
env.*
*.md 
.cache
*.log
*/.git/
.cache
.gitignore
*/resources/
*.sh
*.cfg
!README.md