Dockerfile
Dockerfile.prod
.dockerignore
docker-compose.yml
docker-compose.dev.yml
node_modules
build
Dockerfile
*.md 
.cache
*.log
*/.git/
.cache
.vscode
.gitignore
.editorconfig
*/resources/
*.sh
Makefile
.env
.prettierrc
.prettierignore
!README.md